<h1 class="usernameH1">Hello {{currentUser.username}}</h1>

<div class="user-details">
  <div class="row">
    <div class="picture col-sm-9">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Avatar</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><img src="{{currentUser.imgPath}}" alt="" class="avatar"></th>
            <td>
              <label><b>Name:</b> </label><span> {{currentUser.firstName}} {{currentUser.lastName}}</span><br>
              {{!-- <label><b>Date of Birth:</b> </label><span> {{currentUser.dateOfBirth}}</span><br> --}}
              <label><b>Age:</b> </label><span> {{currentUser.age}}</span><br>
              <label><b>Username:</b> </label><span> {{currentUser.username}}</span><br>
              <label><b>E-mail:</b> </label><span> {{currentUser.email}}</span><br>
            </td>
          </tr>
        </tbody>
      </table>
      <a href='/users-edit?user_id={{currentUser._id}}'>Edit your details</a>
    </div>
  </div>
</div>
<div class="user-interaction">
  <div class="row">
    <div class="myComments col-sm-8">
      <h2>My Comments</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Company</th>
            <th scope="col">Comment</th>
            <th scope="col">Posted on</th>
          </tr>
        </thead>
        {{#each comments}}
          <tbody>
            <tr>
              <th scope="row">{{inc @index}}</th>
              <td>{{this.company.name}}</td>
              <td>{{this.text}}</td>
              <td>{{prettifyDate createdAt}}</td>
            </tr>
          </tbody>
        {{/each}}
      </table>
    </div>
    <div class="myVotes col-sm-4">
      <h2>My Votes</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Company</th>
            <th scope="col">Votes</th>
            <th scope="col">Posted on</th>
          </tr>
        </thead>
        {{#each ratings}}
          <tbody>
            <tr>
              <th scope="row">{{inc @index}}</th>
              <td>{{this.company.name}}</td>
              <td>{{this.score}}</td>
              <td>{{prettifyDate createdAt}}</td>
            </tr>
          </tbody>
        {{/each}}
      </table>
    </div>
  </div>
</div>