<div class="row justify-content-center submitCompany">
 <div class="col-md-6">
<form method="POST" action="/companies/{{id}}/edit">
  <div class="form-group">
    <label for="nameField">Name</label>
    <input name="name" type="text" class="form-control" id="nameField" placeholder="Enter name" value="{{name}}">
  </div>
  <div class="form-group">
    <label for="occupationField">URL</label>
    <input name="occupation" type="text" class="form-control" id="occupationField" placeholder="Enter URL" value="{{url}}">
  </div>
  <div class="form-group">
    <label for="catchPhraseField">Image</label>
    <input name="catchPhrase" type="text" class="form-control" id="catchPhraseField" placeholder="Enter Image URL" value="{{image}}">
  </div>
   <div class="form-group">
    <label for="catchPhraseField">Description</label>
    <input name="catchPhrase" type="text" class="form-control" id="catchPhraseField" placeholder="Enter Description" value="{{description}}">
  </div>
  <button type="submit" class="btn btn-info btn-lg">Update Company</button>
  </div>
 
</form>
</div>