<div class="row justify-content-center submitCompany">
 <div class="col-md-6">
<form action="companies/{{company.id}}/edit" method="POST" >
  <div class="form-group">
    <label for="nameField">Name</label>
    <input name="name" type="text" class="form-control" id="nameField" placeholder="Enter name" value="{{name}}">
  </div>
  <div class="form-group">
    <label for="urlField">URL</label>
    <input name="url" type="text" class="form-control" id="url" placeholder="Enter URL" value="{{url}}">
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input name="image" type="text" class="form-control" id="image" placeholder="Enter Image URL" value="{{image}}">
  </div>
   <div class="form-group">
    <label for="description">Description</label>
    <input name="description" type="text" class="form-control" id="description" placeholder="Enter Description" value="{{description}}">
  </div>
  <button type="submit" class="btn btn-info btn-lg">Update Company</button>
  </div>
 
</form>
</div>