{{!-- <h1>{{ title }}</h1>
<ul>
  {{#each allCompanies}}
  <li>
    <a href="/companies/{{ this._id }}">
      {{ this.name }}
    </a>
    - {{ this.URL }}
    <a href="/companies/{{ this._id }}/edit">
      Edit
    </a>
  </li>
  {{/each}}
</ul>

<a href="/companies/new">
  Submit a new company
</a> --}}

 {{> header}}

 <head>
   <link rel="stylesheet" href="/stylesheets/cards.css"
 </head>
<div class='container'>
  <div class='jumbotron jumbotron-fluid'>
    <h1>Most Popular Companies</h1>
    <h2>blah blah blah</h2>
    <p><a class='btn btn-lg btn-success' href='/companies/new'>Add Company</a></p>
  </div>

   <div class="cards-list">
  
   {{#each allCompanies}}
  
<div class="card">
  <div class="card_image">
    <img src="{{ this.image }}" />
  </div>
  <div class="card_title">
    <a href='/companies/{{ this._id }}' class='btn btn-sm btn-success' <p> See company details </p> </a>
  </div>
</div>
 {{/each}}

</div>

