<div class="container mt-2">
    <div class="row ">
        <div class="col-md-8 m-auto">
            <h1 class="text-center text-info my-3" style="font-size:2rem">
            </h1>
        </div>
    </div>

    
    {{!-- {{#if name}} --}}
    <table class="table table-hover table-dark">
        <h2 class="text-warning1 my-4"><u> Here's how {{company.name}} scores</u></h2>
        <h3 class="text-warning my-4"><u>Average Score </u></h3>
        <div class="pie-wrapper progress-half">        
  <span class="label">{{scoreAverage}}</span>
  <div class="pie">
    <div class="left-side half-circle"></div>
    <div class="right-side half-circle"></div>
  </div>  
</div>
<div class="pie-wrapper progress-full">
  <span class="label">{{scoreLength}}</span>
  <div class="pie">
    <div class="left-side half-circle"></div>
    <div class="right-side half-circle"></div>
  </div>  
</div>
<br>
<br>
 <h2 class="text-warning2 my-4"><u>Working or worked at {{company.name}}? Leave a comment or submit your vote below</u></h2>
{{!--         <thead>
            <tr class="bg-primary">
                <th scope="col">Company</th>
                <th scope="col">Score</th>
                <th scope="col">Total Votes</th>
            </tr>
        </thead> --}}
{{!-- {{#each scoreAverage}} --}}
{{!--         <tbody>
            <tr>
                <th scope="row">{{company.name}}</th>
                <th scope="col">{{this.scoreAverage}}</th>
                <th scope="row">{{this.scoreLength}}</th>
            </tr> --}}

            
{{!--                 <tr>
                <th scope="row">Gender Pay Gap</th>
                <th scope="col">{{genderPayGapScore}}</th>
                <th scope="row">{{votes}}</th>
            </tr>
                 <tr>
                <th scope="row">Maternity Leave</th>
                <th scope="col">{{maternityLeaveScore}}</th>
                <th scope="row">{{votes}}</th>
            </tr>
                        </tr>
                 <tr>
                <th scope="row">Flexible Work Schedule</th>
                <th scope="col">{{flexibleWorkScheduleScore}}</th>
                <th scope="row">{{votes}}</th>
            </tr>
              <tr>
                <th scope="row">Career Growth</th>
                <th scope="col">{{careerGrowthScore}}</th>
                <th scope="row">{{votes}}</th>
            </tr> --}}
         
        </tbody>
    {{!-- {{/each}} --}}
    </table>
    {{!-- {{/if}} --}}
</div>
<br>
{{!-- <a href="/companies/{{company.id}}/vote">Submit your vote</a>
<br>
<a href="/companies">Back to companies list</a> --}}



<div class="well">
    <div class="text-right">
        <a class='btn btn-primary' href="/companies/{{company.id}}/comments/new">Add Comment</a>
    </div>
    <hr>

    {{#each company.comments}}
        <div class="row">
            <div class="col-md-12">
                <strong>By: {{this.author.username}}</strong>
                    <span class="pull-right"></span>
                    <p>
                        Comment: {{this.text}}
                    </p>


{{!--                      <a class='btn btn-xs btn-primary'
                    href="/companies/{{company.id}}/edit">
                    Edit
                    </a>
 --}}
{{!--                      <a class='btn btn-xs btn-danger'
                    href="/companies/{{company.id}}/comments/{{this.id}}/?_method=DELETE" method='POST'>
                    Delete
                    </a> --}}


        {{!--             <form class='delete-form' action="/companies/{{company.id}}/comments/{{this.id}}?_method=DELETE" method='POST'>
                    <input class="btn btn-xs btn-danger" type='submit' value='Delete'></input> --}}



                    {{!-- </form> --}}
             </div>
        </div>
    {{/each}}
</div>
    {{!-- </div>
  </div>
</div> --}}

<br>
<br>
  

<h3 class="text-warning my-4"><u>Submit your vote</u></h3>

 <form action="/companies/{{company.id}}/ratings" method="POST">
 
<div class="form-group">
    <label for="ratingManagement">Women in management</label>
    <fieldset class="starability-basic form-group" id="rating">
    <input type="radio" id="first-rate5" name="ratingMgmt" value=1 />
    <label for="first-rate5" title="Amazing">1</label>
    <input type="radio" id="first-rate4" name="ratingMgmt" value=2 />
    <label for="first-rate4" title="Very good">2</label>
    <input type="radio" id="first-rate3" name="ratingMgmt" value=3 />
    <label for="first-rate3" title="Average">3</label>
    <input type="radio" id="first-rate2" name="ratingMgmt" value=4 />
    <label for="first-rate2" title="Not good">4</label>
    <input type="radio" id="first-rate1" name="ratingMgmt" value=5 />
    <label for="first-rate1" title="Not good">5</label>
    <input type="radio" id="first-rate5" name="ratingMgmt" value=6 />
    <label for="first-rate5" title="Amazing">6</label>
    <input type="radio" id="first-rate4" name="ratingMgmt" value=7 />
    <label for="first-rate4" title="Very good">7</label>
    <input type="radio" id="first-rate3" name="ratingMgmt" value=8 />
    <label for="first-rate3" title="Average">8</label>
    <input type="radio" id="first-rate2" name="ratingMgmt" value=9 />
    <label for="first-rate2" title="Not good">9</label>
    <input type="radio" id="first-rate1" name="ratingMgmt" value=10 />
    <label for="first-rate1" title="Terrible">10</label>
    </fieldset>
    </div> 

    </div>
   

 
 <div class="form-group">
    <label for="ratingPayGap">Gender Pay Gap</label>
    <fieldset class="starability-basic form-group" id="rating">
    <input type="radio" id="first-rate5" name="ratingPay" value=1 />
    <label for="first-rate5" title="Amazing">1</label>
    <input type="radio" id="first-rate4" name="ratingPay" value=2 />
    <label for="first-rate4" title="Very good">2</label>
    <input type="radio" id="first-rate3" name="ratingPay" value=3 />
    <label for="first-rate3" title="Average">3</label>
    <input type="radio" id="first-rate2" name="ratingPay" value=4 />
    <label for="first-rate2" title="Not good">4</label>
    <input type="radio" id="first-rate1" name="ratingPay" value=5 />
    <label for="first-rate1" title="Not good">5</label>
    <input type="radio" id="first-rate5" name="ratingPay" value=6 />
    <label for="first-rate5" title="Amazing">6</label>
    <input type="radio" id="first-rate4" name="ratingPay" value=7 />
    <label for="first-rate4" title="Very good">7</label>
    <input type="radio" id="first-rate3" name="ratingPay" value=8 />
    <label for="first-rate3" title="Average">8</label>
    <input type="radio" id="first-rate2" name="ratingPay" value=9 />
    <label for="first-rate2" title="Not good">9</label>
    <input type="radio" id="first-rate1" name="ratingPay" value=10 />
    <label for="first-rate1" title="Terrible">10</label>
    </fieldset>
    </div> 

    </div>
   





 
 <div class="form-group">
    <label for="rating">Maternity Leave</label>
    <fieldset class="starability-basic form-group" id="rating">
    <input type="radio" id="first-rate5" name="ratingMaternity" value=1 />
    <label for="first-rate5" title="Amazing">1</label>
    <input type="radio" id="first-rate4" name="ratingMaternity" value=2 />
    <label for="first-rate4" title="Very good">2</label>
    <input type="radio" id="first-rate3" name="ratingMaternity" value=3 />
    <label for="first-rate3" title="Average">3</label>
    <input type="radio" id="first-rate2" name="ratingMaternity" value=4 />
    <label for="first-rate2" title="Not good">4</label>
    <input type="radio" id="first-rate1" name="ratingMaternity" value=5 />
    <label for="first-rate1" title="Not good">5</label>
    <input type="radio" id="first-rate5" name="ratingMaternity" value=6 />
    <label for="first-rate5" title="Amazing">6</label>
    <input type="radio" id="first-rate4" name="ratingMaternity" value=7 />
    <label for="first-rate4" title="Very good">7</label>
    <input type="radio" id="first-rate3" name="ratingMaternity" value=8 />
    <label for="first-rate3" title="Average">8</label>
    <input type="radio" id="first-rate2" name="ratingMaternity" value=9 />
    <label for="first-rate2" title="Not good">9</label>
    <input type="radio" id="first-rate1" name="ratingMaternity" value=10 />
    <label for="first-rate1" title="Terrible">10</label>
    </fieldset>
    </div> 

    </div>
   
 
 <div class="form-group">
    <label for="rating">Flexible Schedule</label>
    <fieldset class="starability-basic form-group" id="rating">
    <input type="radio" id="first-rate5" name="ratingSched" value=1 />
    <label for="first-rate5" title="Amazing">1</label>
    <input type="radio" id="first-rate4" name="ratingSched" value=2 />
    <label for="first-rate4" title="Very good">2</label>
    <input type="radio" id="first-rate3" name="ratingSched" value=3 />
    <label for="first-rate3" title="Average">3</label>
    <input type="radio" id="first-rate2" name="ratingSched" value=4 />
    <label for="first-rate2" title="Not good">4</label>
    <input type="radio" id="first-rate1" name="ratingSched" value=5 />
    <label for="first-rate1" title="Not good">5</label>
    <input type="radio" id="first-rate5" name="ratingSched" value=6 />
    <label for="first-rate5" title="Amazing">6</label>
    <input type="radio" id="first-rate4" name="ratingSched" value=7 />
    <label for="first-rate4" title="Very good">7</label>
    <input type="radio" id="first-rate3" name="ratingSched" value=8 />
    <label for="first-rate3" title="Average">8</label>
    <input type="radio" id="first-rate2" name="ratingSched" value=9 />
    <label for="first-rate2" title="Not good">9</label>
    <input type="radio" id="first-rate1" name="ratingSched" value=10 />
    <label for="first-rate1" title="Terrible">10</label>
    </fieldset>
    </div> 

    </div>
   


 
 
 <div class="form-group">
    <label for="rating">Career Growth</label>
    <fieldset class="starability-basic form-group" id="rating">
    <input type="radio" id="first-rate5" name="ratingGrowth" value=1 />
    <label for="first-rate5" title="Amazing">1</label>
    <input type="radio" id="first-rate4" name="ratingGrowth" value=1 />
    <label for="first-rate4" title="Very good">2</label>
    <input type="radio" id="first-rate3" name="ratingGrowth" value=3 />
    <label for="first-rate3" title="Average">3</label>
    <input type="radio" id="first-rate2" name="ratingGrowth" value=4 />
    <label for="first-rate2" title="Not good">4</label>
    <input type="radio" id="first-rate1" name="ratingGrowth" value=5 />
    <label for="first-rate1" title="Not good">5</label>
    <input type="radio" id="first-rate5" name="ratingGrowth" value=6 />
    <label for="first-rate5" title="Amazing">6</label>
    <input type="radio" id="first-rate4" name="ratingGrowth" value=7 />
    <label for="first-rate4" title="Very good">7</label>
    <input type="radio" id="first-rate3" name="ratingGrowth" value=8 />
    <label for="first-rate3" title="Average">8</label>
    <input type="radio" id="first-rate2" name="ratingGrowth" value=9 />
    <label for="first-rate2" title="Not good">9</label>
    <input type="radio" id="first-rate1" name="ratingGrowth" value=10 />
    <label for="first-rate1" title="Terrible">10</label>
    </fieldset>
    </div> 
        <div class="form-group">
        <button class="btn primary btn-lg">Submit rating!</button>
        </div>
    

    </div>
   
</form> 



 <h2 class="text-warning2 my-4"><u>If you think any of {{company.name}}'s info should be updated, please submit your changes below</u></h2>
<br>
      <div class="company-edit">
        <a href='/companies/{{ company.id }}/edit' class='btn primary btn-sm' <p> Edit company details </p> </a>
      </div>


       <form method="POST" action="/companies/{{company.id}}/delete">
  <button type="submit" class="btn btn-danger">Delete Company</button>
</form>