<div class="container mt-2">
    <div class="row ">
        <div class="col-md-8 m-auto">
            <h1 class="text-center text-info my-3" style="font-size:2rem">
            </h1>
        </div>
    </div>

    
    {{!-- {{#if name}} --}}
    <table class="table table-hover table-dark">
        <h2 class="text-warning my-4"><u>Here's how {{company.name}}</u></h2>
        <h3 class="text-warning my-4"><u>Average Score &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Total Votes</u></h3>
        <div class="pie-wrapper progress-half">        
  <span class="label">{{scoreAverage}}</span>
  <div class="pie">
    <div class="left-side half-circle"></div>
    <div class="right-side half-circle"></div>
  </div>  
</div>
<div class="pie-wrapper progress-full">
  <span class="label">{{scoreLength}}</span>
  <div class="pie">
    <div class="left-side half-circle"></div>
    <div class="right-side half-circle"></div>
  </div>  
</div>
 <h2 class="text-warning my-4"><u>Here's how all companies score</u></h2>
        <thead>
            <tr class="bg-primary">
                <th scope="col">Criteria</th>
                <th scope="col">Score</th>
                <th scope="col">Total Votes</th>
            </tr>
        </thead>
{{!-- {{#each name}} --}}
        <tbody>
            <tr>
                <th scope="row">{{company.name}}</th>
                <th scope="col">{{scoreAverage}}</th>
                <th scope="row">{{scoreLength}}</th>
            </tr>
{{!--                 <tr>
                <th scope="row">Gender Pay Gap</th>
                <th scope="col">{{genderPayGapScore}}</th>
                <th scope="row">{{votes}}</th>
            </tr>
                 <tr>
                <th scope="row">Maternity Leave</th>
                <th scope="col">{{maternityLeaveScore}}</th>
                <th scope="row">{{votes}}</th>
            </tr>
                        </tr>
                 <tr>
                <th scope="row">Flexible Work Schedule</th>
                <th scope="col">{{flexibleWorkScheduleScore}}</th>
                <th scope="row">{{votes}}</th>
            </tr>
              <tr>
                <th scope="row">Career Growth</th>
                <th scope="col">{{careerGrowthScore}}</th>
                <th scope="row">{{votes}}</th>
            </tr> --}}
        </tbody>
    {{!-- {{/each}} --}}
    </table>
    {{!-- {{/if}} --}}
</div>
<br>
{{!-- <a href="/companies/{{company.id}}/vote">Submit your vote</a>
<br>
<a href="/companies">Back to companies list</a> --}}

<br>
<br>



<div class="well">
    <div class="text-right">
        <a class='btn btn-primary' href="/companies/{{company.id}}/comments/new">Add Comment</a>
    </div>
    <hr>

    {{#each company.comments}}
        <div class="row">
            <div class="col-md-12">
                <strong>By: {{this.author.username}}</strong>
                    <span class="pull-right"></span>
                    <p>
                        Comment: {{this.text}}
                    </p>         
                    {{!-- <a class='btn btn-xs btn-primary'
                    href="/companies/{{company.id}}/comments/{{this.id}}/edit">
                    Edit
                    </a>
                    <form class='delete-form' action="/companies/{{company.id}}/comments/{{this.id}}?_method=DELETE" method='POST'>
                    <input class="btn btn-xs btn-danger" type='submit' value='Delete'></input> --}}
                    {{!-- </form> --}}
             </div>
        </div>
    {{/each}}
</div>
    {{!-- </div>
  </div>
</div> --}}

<br>
<br>
  
<form action="/companies/{{company.id}}/ratings" method="POST">
    <div class="form-group">
        <label for="rating">Rating Tester</label>
        <fieldset class="starability-basic form-group" id="rating">
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="Amazing">5</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="Very good">4</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="Average">3</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="Not good">2</label>
            <input type="radio" id="first-rate1" name="rating" value="1" />
            <label for="first-rate1" title="Terrible">1</label>
        </fieldset>
    </div>
    <div class="form-group">
        <button class="btn btn-sm btn-primary">
            Submit rating!
        </button>
    </div>
</form>
